


.mlsm {
  margin-left: 8px;
}

.mrsm {
  margin-right: 8px;
}

.mtsm {
  margin-top: 8px;
}

.mbsm {
  margin-bottom: 8px;
}

.mlmd {
  margin: 16px;
}

.mrmd {
  margin-right: 16px;
}

.mtmd {
  margin-top: 16px;
}

.mbmd {
  margin-bottom: 16px;
}

.mllg {
  margin: 24px;
}

.mrlg {
  margin-right: 24px;
}

.mtlg {
  margin-top: 24px;
}

.mblg {
  margin-bottom: 24px;
}
